/* css for the blog page */

.feedburnerFeedBlock ul {
    margin-left:0;
    padding-left:0;
    list-style-type: none;
    padding: none;
    color: black;
}

.feedburnerFeedBlock li {
    margin-bottom: 1em;
    padding-bottom: 0.7rem;
    border-bottom: 1px solid #ccc
}

.feedburnerFeedBlock ul li span.headline a {
    color: black;
    text-decoration: none;
    font-size: 2em;
    display: block;
}
    
.feedburnerFeedBlock ul li span.headline a:hover {
    color: #535353;
}

.date {
    font-size: .75em;
    font-weight: lighter;
    font-style: italic;
}
    
 #creditfooter {
    display: none;
}

.feedburnerFeedBlock {
    font-family: var(--font);
    color: var(--primary-color);
    font-size: 18px;
}

* {
    font-family: var(--font) !important;
}