/* stylesheet purely for the navbar */

.nav {
    height: 100%;
    width: var(--nav-width);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.navlist {
    margin: 20% 0 0 18%;
    width: 70%;
}

.nav a {
    padding: 4% 0 4% 8%;
    text-decoration: none;
    color: var(--color);
    display: block;
    border-radius: 4px;
}

.nav a:hover {
    background-color: var(--bg-color-hover);
}


/* hide open and close nav button on desktop */
.nav .closebtn {
    display: none;
}
.openbtn {
    display: none;
}
.btnbox {
    display: none;
}


/* on mobile, the nav is hidden and there a little menu button */
@media screen and (max-width: 600px) {
    /* little menu button */
    .openbtn{
        display: block;
        position:fixed;
        z-index: 10;
        font-size: 24px;
        top: 30px;
        left: 15px;
        color: white;
    }
    .btnbox{
        display: block;
        position:fixed;
        z-index: 9;
        background-color: black;
        width: 124px;
        height: 42px;
        border-radius: 8px;
        font-size: 24px;
        top: 27px;
        left: -75px;
    }
    .nav {
        height: 0;
        width: 100%;
        background:rgba(255,255,255, 0.75);
        backdrop-filter: blur(5px);
        overflow-x: hidden;
        transition: 0.5s;
        text-align:center;
    }
      .nav a {
        padding: 10px;
        font-size: 25px;
        color: var(--color);
        display: block;
        transition: 0.3s;
    }
    .navlist {
        margin: 30% 0 0 0;
        display: block;
        width: 100%;
    }
      .nav a:hover{
        color: #6b6b6b;
        background:rgba(255,255,255, 0);
    }
      .nav .closebtn {
        display: block;
    }
}