/* for filtering and sorting on workpage */

/*  */
/* parent div of the filter buttons and sort menu */
.filterAndSortBlock {
	display: block;
	min-height: 2em;
	min-width: 100%;
}

/*  */

/*  */
/* sorting drop down menu */
/*  */

/* whole div (with label) */
.sortMenu {
	float: right;
}
/* label itself */
.sortMenu label {
	font-size: 1em;
	font-weight: bold;
	color: var(--m-color);
}
/* the dropdown menu */
.sortDropdown {
	font: var(--font);
	border-radius: 4px;
	border: 2px solid var(--color);
	color: var(--color);
	background-color: var(--bg-color);
	display: inline;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.4em 3.5em 0.4em 0.5em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: fill;
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23000000%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E);
	background-repeat: no-repeat;
	background-position: right 1em top 50%;
	background-size: 0.65em auto;
}
/* mobile jazz  for the sort*/
@media screen and (max-width: 1010px) {
	.sortMenu label {
		display: none;
	}
	.sortMenu {
		margin-top: 0.5em;
		display: block;
		clear: both;
		float: left;
	}
	.sortDropdown {
		margin-bottom: 1em;
	}
}

/*  */
/* the buttons for filtering */
/*  */

/* svg icons */
.filterIcon {
	width: 1em;
	display: inline-block;
	vertical-align: middle;
}
/* the filter button text */
.filterButton p {
	vertical-align: middle;
	display: inline-block;
}
/* the button div */
.filterButton {
	float: left;
	padding: 4px 6px 4px 6px;
	margin: 0 5px 5px 0;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
	border: 2px solid;
}
