/* this is the css for all project pages and the project page itself */

/* list on main projects page */
.project-list {
	list-style: none;
	padding: 0;
	font-size: 18px;
}

.project-list li {
	padding: none;
	color: black;
	margin-bottom: 0.7em;
	padding-bottom: 0.7rem;
	border-bottom: 1px solid #ccc;
}

.project-list a {
	color: black;
	font-weight: bold;
}

/* image cations */
figcaption {
	font-style: italic;
	font-size: 0.75em;
	z-index: 100;
}

/* defualt image css */
.normal_img {
	width: 400px;
	margin-bottom: 0.5em;
	border-radius: 8px;
}

/* defualt cad css */
.normal_cad {
	width: 70%;
	height: 475px;
}

/* mobile stuff */

@media screen and (max-width: 600px) {
	.image-spliter {
		display: table !important;
		margin: 0.5em auto !important;
	}
	.normal_img {
		display: block !important;
		margin-right: auto !important;
		margin-left: auto !important;
		width: 95% !important;
	}
	.normal_cad {
		display: block !important;
		margin-right: auto !important;
		margin-left: auto !important;
		width: 100% !important;
		height: 300px !important;
	}
}
