/* css for work page */

/*  */
/* override width and account for nav */
/*  */
.work-page {
	max-width: 100%;
	margin: 0 2em 5.5em var(--nav-width);
}

.work-page p {
	line-height: normal !important;
	width: auto !important;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

/*  */
/* container of all display blocks */
/*  */
.displayParent {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	grid-gap: 30px;
	clear: both;
	margin: 2rem 0 0 0;
}

/* grid to height on block */
/* 4 : 13vw  full*/
/* 2 : 29vw spilt*/
/* 1 : 45vw mobile*/

/*  */
/* display blocks */
/* they show thumbnails of all the work */
/*  */
.displayBlock {
	position: relative;
	display: block;
	background-color: var(--odd-light-gray);
	text-align: center;
	border-radius: 1em;
	overflow: hidden;
	height: 13vw;
	cursor: pointer;
	/* ease */
	-webkit-transition: background-color 0.5s ease-in-out;
	-moz-transition: background-color 0.5s ease-in-out;
	-o-transition: background-color.5s ease-in-out;
	transition: background-color 0.5s ease-in-out;
}

/* image needs to fill but not over fill */
.displayBlock > img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

/* give the hober gradient effect */
.displayOverlay {
	position: absolute;
	bottom: 0;
	background: linear-gradient(0deg, #00000088 30%, #ffffff00 100%);
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	opacity: 0;
}
.displayBlock:hover .displayOverlay {
	opacity: 1;
}

/* little badge showing how many images are behind the thumbnail */
/* will show 9+ if there is more than nine */
/* will not show at all if its just one image */
.displayCount {
	position: absolute;
	background-color: rgb(126, 126, 126, 0.3);
	color: #eeeeee;
	text-align: center;
	height: 1.25em;
	width: 1.25em;
	padding: 0.25em;
	font-size: 0.75em;
	border-radius: 50%;
	top: 0.5em;
	right: 0.5em;
}
.displayCount p {
	position: relative;
	bottom: 0.15em;
}

/* shows the title when hovered */
.displayTitle {
	position: absolute;
	bottom: 0;
	width: 90%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	text-align: left;
	font-size: 2vw;
	font-weight: bold;
	padding: 0 0 0.5em 0.75em;
}
.displayBlock:hover .displayTitle {
	opacity: 1;
}

/*  */
/* large display of work with full info and details */
/* :D */
/*  */
.largeDisplay {
	display: block;
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 101;
	top: 0;
	left: 0;
	background: var(--bg-color-non-focus);
	backdrop-filter: blur(5px);
	overflow-x: hidden;
	/* hide scroll bar */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
/* hide scrollbar */
.largeDisplay::-webkit-scrollbar {
	display: none;
}
.largeDisplayBlock {
	position: relative;
	display: block;
	border-radius: 1em;
	z-index: 102;
	min-height: 90%;
	overflow-y: scroll;
	width: 90%;
	margin: 2em auto 2em auto;
	background-color: var(--bg-color);
	/* hide scroll bar */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
/* hide scrollbar */
.largeDisplayBlock::-webkit-scrollbar {
	display: none;
}
/* closebutton */
.largeDisplayBlock .closeButton {
	position: absolute;
	top: 0;
	right: 0.5em;
	font-size: 4em;
	cursor: pointer;
}
.largeDisplayBlock .title {
	padding: 0.5em 0 0 1em;
	font-size: 2.5em;
	max-width: 75%;
	overflow: visible;
}
/* css for cotaining image slider */
.largeDisplayBlock .images {
	margin-top: 1.5em;
	height: 30em;
}

/*  */
/* actual texty content of lare display */
/*  */
/* genral container */
.largeDisplayBlock .content {
	margin: 1em 4em;
	margin-bottom: 5em;
}
.content .tag {
	background-color: var(--m-color);
	color: var(--bg-color);
	font-weight: bold;
	margin-right: 0.5em;
	border-radius: 4px;
	padding: 3px 8px;
	float: right;
}
.content .description {
	margin-top: 1em;
}
.content a {
	display: block;
	margin-top: 1em;
}

/*  */
/* split screen */
/*  */
@media (max-width: 1100px) {
	/*  */
	/* display block and parent */
	/*  */
	/* less colums */
	.displayParent {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	/* taller boxes */
	.displayBlock {
		height: 19vw;
	}
	/* how title on spil cuz ipad cant hover */
	.displayOverlay,
	.displayTitle {
		opacity: 1;
	}
}

/*  */
/* mobile jazz */
/*  */
@media screen and (max-width: 600px) {
	/* page */
	.work-page {
		margin: 80px 5% 15% 5%;
		max-width: 100%;
	}

	/*  */
	/* display block and parent */
	/*  */
	/* less colums */
	.displayParent {
		grid-template-columns: auto;
		margin-top: 3em;
	}
	/* taller boxes */
	.displayBlock {
		height: 45vw;
	}
	/* how title on mobile cuz u cant hover */
	.displayOverlay,
	.displayTitle {
		opacity: 1;
		font-size: 1.6em;
	}

	/*  */
	/* large display block with details */
	/*  */
	/* title */
	.largeDisplayBlock .title {
		padding-left: 0.75em;
		font-size: 2em !important;
	}
	/* close button */
	.largeDisplayBlock .closeButton {
		font-size: 3em;
		top: 0.1em;
	}
	/* css for cotaining image slider */
	.largeDisplayBlock .images {
		height: 18em;
	}
	/* genral container */
	.largeDisplayBlock .content {
		margin: 1em 1em;
		margin-bottom: 4em;
	}
	.content .software-date {
		display: block;
		margin-bottom: 10px;
	}
	.content .tag {
		float: left;
		margin-bottom: 10px;
	}
	.content .description {
		clear: both;
	}
}
